@page {
    margin: 1.5cm;
    margin-top: 1cm;
    size: 21.59cm 27.94cm;

    @bottom-right {
        content: counter(page);
    }
}

body {
    margin: 0;
}

.cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.cabecera h3 {
    text-align: center;
    font-size: 1em;
}

#logo_ita {
    width: 190px;
    height: 120px;
}

#logo_sep {
    width: 200px;
    height: 75px;
}

img {
    max-width: 100%;
}

table, th, td {
    border: 1px black solid;
    border-collapse: collapse;
    text-align: center;
    padding: 0.1rem 0.4rem;
}

.alinear-izq {
    text-align: left;
}

thead {
    font-size: 0.8em;
}

.thead__sec th {
    font-weight: normal;
}

tbody {
    font-size: 0.6em;
}

.pie__firmas {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
